@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.landing-page {
  padding: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}
.logo span {
  color: orange;
}

.nav a {
  margin: 0 0.8rem;
  text-decoration: none;
  color: #333;
}

.auth-buttons a {
  margin-right: 1rem;
  text-decoration: none;
  color: #f26552;
}

.auth-buttons .sign-up {
  background: #f26552;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  gap: 2rem;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin: 0;
}

.hero-text .highlight {
  color: #f26552;
}

.hero-text p {
  color: #666;
  margin: 1rem 0;
}

.search-bar {
  display: flex;
  margin: 1rem 0;
}

.search-bar input {
  padding: 0.5rem;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
}

.search-bar button {
  background: #f26552;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.badges p {
  margin: 0.2rem 0;
}

.hero-image img {
  max-width: 300px;
  border-radius: 10px;
}

.product-cards {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  top: 10rem;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 12px;
  width: 120px;
}

.product-card img {
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.product-card .price {
  color: #f26552;
  font-weight: bold;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.category-card {
  text-align: center;
  width: 150px;
}

.category-card img {
  height: 50px;
}
